
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
out/
bin/
obj/
dist/
temp/
tmp/


*.log
*.trace
*.dmp
*.pdb
*.obj
*.ilk
*.idb
*.tlog
*.pch
*.rsp
*.exp
*.lib
*.dll
*.exe
*.so
*.a
*.out
*.o
*.ncb
*.sdf
*.opendb
*.vc.db
*.vcxproj.user
*.user
*.suo


*.pro.user
*.qbs.user
*.qbs.user.*
CMakeFiles/
CMakeCache.txt
cmake_install._
